/* stylelint-disable */
$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-green: green;
$color-blue: #0da698;
$color-blue-1: #5792b9;
$color-blue-2: #007ab5;
$color-gray: #f3f3f3;
$color-orange: #ff950e;
